{
  "env": {
    "webpack": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": "last 2 versions"
          },
          "modules": false
        }]
      ],
      "plugins": [
        "import-glob",
        "transform-react-jsx",
        "transform-object-rest-spread",
        "transform-class-properties",
        "syntax-dynamic-import",
        ["transform-runtime", {
          "helpers": false,
          "polyfill": false,
          "regenerator": true,
          "moduleName": "babel-runtime"
        }]
      ]
    },
    "node": {
      "presets": [
        ["env", { "targets": { "node": "8"} }]
      ],
      "plugins": [
        "import-glob",
        "transform-react-jsx",
        "transform-object-rest-spread",
        "transform-class-properties",
        "dynamic-import-webpack",
        ["css-modules-transform", {
          "camelCase": true,
          "extensions": [".css"],
          "generateScopedName": "./config/name.cssmodules.config.js",
          "preprocessCss": "./config/postcss.config.js"
        }]
      ]
    },
    "test": {
      "presets": ["env", "react"],
      "plugins": [
        "import-glob",
        "transform-react-jsx",
        "transform-object-rest-spread",
        "transform-class-properties",
        "dynamic-import-webpack",
        ["css-modules-transform", {
          "camelCase": true,
          "extensions": [".css"],
          "generateScopedName": "./config/name.cssmodules.config.js",
          "preprocessCss": "./config/postcss.config.js"
        }]
      ]
    }
  }
}