@import "milligram-cssnext/src/_Base";
@import "milligram-cssnext/src/_Link";
@import "milligram-cssnext/src/_List";
@import "milligram-cssnext/src/_Code";
@import "milligram-cssnext/src/_Divider";
@import "milligram-cssnext/src/_Typography";
@import "milligram-cssnext/src/_Blockquote";
@import "milligram-cssnext/src/_Button";
@import "milligram-cssnext/src/_Grid";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Roboto+Mono:300,400|Roboto:300,400');

:root {
  --color-primary: #3391C9;
  --color-secondary: #555;
  --color-initial: #fff;
  --color-tertiary: #f4f5f6;
  --color-quaternary: #3391C9;
}

:global html,
:global body {
  height: 100%;
  padding: 0;
  margin: 0;
}

:global pre {
  font-size: 1.2em;
  font-family: 'Roboto Mono', monospace;
}

:global #root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
