
:root {
  --white: #f2f2f2;
  --black: #555;

  --primary: #414B5B;
  --primary-alt: #a3aab5;

  --blue: #3391C9;
  --grey-blue: #DEEAF1;
  --grey-blue-alt: #F4F8FA;
  --grey-blue-alt-2: #DADFE5;

  --header-height: 5rem;
}