
html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: #555;
  font-size: 1.4em;
}

div#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: $header-height;
  flex: 1 0 auto;
}
