
header {
  @extend .z-foreground;
  position: fixed;
  width: 100%;
  height: $header-height;
  max-height: $header-height;
  background: #fff;
  box-shadow: 0px 1px 1px fade-out($primary, 0.7);

  nav {
    height: 100%;
    padding: 0 5% 0 2.5rem;
  }

  h1 {
    @extend .v-align;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0;
    height: 100%;
    display: inline-flex;
  }

  a {
    color: $blue;
  }

  ul.nav-list {
    @extend .no-list-style;
    @extend .v-align;
    height: 100%;

    li {
      float: left;
      margin-bottom: 0;
      margin-left: 2.5rem;
      position: relative;
    }

    a.active {
      text-decoration: underline;
    }
  }

  .octocat {
    border: 0;
    color: $primary-alt;
    fill: $primary;
    height: 5.2rem;
    max-height: 5.2rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 5.2rem;
    max-width: 5.2rem;
    overflow: hidden;

    .octocat-arm,
    .octocat-body {
      fill: $primary-alt;
    }

    &:hover .octocat-arm {
      animation:octocat-wave 560ms infinite;
      transform-origin: 13rem 10.6rem;
    }

    @at-root {
      @keyframes octocat-wave {
        0%, 50% {
          transform: rotate(0)
        }

        25%, 75% {
          transform: rotate(-25deg)
        }
      }
    }
  }
}

header.alt {
  position: absolute;
  background: transparent;
  box-shadow: none;

  a {
    color: #fff;
  }
  
  nav h1 {
    display: none;
  }

  .octocat {
    display: none;
  }
}