@import 'helpers';

:root {
  --loader-blue: #0078D7;
  --loader-white: #D2EBFF;
}

.loader {
  @extend %z-foreground;
  position: fixed;
  width: 100%;
  height: 3px;
  background: var(--loader-blue);
  overflow: hidden;
  
  &:after {
    top: 0;
    left: -30%;
    content: "";
    position: relative;
    display: block;
    width: 30%;
    height: 3px;
    background: linear-gradient(to left, var(--loader-blue), var(--loader-white), var(--loader-blue));
    animation: loader-indeterminate 1.5s ease-out infinite;
  }

  @at-root {
    @keyframes loader-indeterminate {
      from {
        left: -30%;
      }
      to {
        left: 100%;
      }
    }
  }
}

.alternate {
  & .loader {
    background: var(--loader-white);
    &:after {
      background: linear-gradient(to left, var(--loader-white), var(--loader-blue), var(--loader-white));
    }
  }
}